      <!-- ======================= Main Work Area ================================-->

<main role="main" id="resume" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <a class="text-secondary" href="submitAccomplish.html">
            <h1 class="h2">Dashboard</h1>
        </a>
    </div>

    <!-- ================== Internal Resume  ======================-->

    <h2> Internal Resume</h2><br>
    <div class="container border border-info rounded">
        <h3 class="text-center mt-3">John Doe</h3><br>
        <div class="row">
            <!-- ============== Each Achievment Type will have their own int-resume div and replicate <li> with foreach loop =====-->
            <div class="int-Resume  bg-info">
                <h4 class="ml-4 pt-2 text-white">Work Experience</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="col-lg-4 float-left">
                            <p><b>Project Name: </b> PMIS</p>
                            <p><b>Job Title: </b> Developer</p>
                            <p><b>Dates: </b> 09/21/1911 - 12/2/1912</p>
                        </div>
                        <div class="col-lg-8 float-right">
                            <p><b>Responsibilities:</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-4 float-left">
                            <p><b>Project Name: </b> Geaux Rescue Web App</p>
                            <p><b>Job Title: </b> Developer</p>
                            <p><b>Dates: </b> 07/5/2022 - 09/2/2024</p>
                        </div>
                        <div class="col-lg-8 float-right">
                            <p><b>Responsibilities:</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="col-lg-4 float-left">
                            <p><b>Project Name: </b> Barry Good Sweets</p>
                            <p><b>Job Title: </b> Project Manager</p>
                            <p><b>Dates: </b> 05/15/2050 - 08/12/2055</p>
                        </div>
                        <div class="col-lg-8 float-right">
                            <p><b>Responsibilities:</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="int-Resume bg-info">
                <h4 class="ml-4 pt-2 text-white">Courses & Training</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="col-lg-4 float-left">
                            <p><b>School/Provider: </b> University of South Alabama</p>
                            <p><b>Activity Name: </b> Advanced Data Management</p>
                            <p><b>Dates: </b> 09/21/1911 - 12/2/1912</p>
                            <p><b>Instructor:</b> Dr. Knowitall</p>
                        </div>
                        <div class="col-lg-8 float-right">
                            <p><b>Course Description:</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="int-Resume bg-info">
                <h4 class="ml-4 pt-2 text-white">Digital Media</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="col-lg-4 float-left">
                            <p><b>Provider: </b> Team Treehouse</p>
                            <p><b>Activity Name: </b> Node.js Tutorial</p>
                            <p><b>Dates: </b> 09/21/1911 - 12/2/1912</p>
                            <p><b>URL:</b> www.teamtreehouse.com</p>
                        </div>
                        <div class="col-lg-8 float-right">
                            <p><b>Course Description:</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="int-Resume bg-info">
                <h4 class="ml-4 pt-2 text-white">Relevant Reading</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="col-lg-4 float-left">
                            <p><b>Author: </b> ASP.net Core MVC 2</p>
                            <p><b>Title: </b> Nelson Mandela</p>
                            <p><b>Dates: </b> 09/21/1911 - 12/2/1912</p>
                            <p><b>URL:</b> www.contrivedexample.com</p>
                        </div>
                        <div class="col-lg-8 float-right">
                            <p><b>Course Description:</b></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </li>
                </ul>
            </div>



        </div><br>
    </div>
    <br><br>
</main>