<!-- ======================= Main Work Area ================================-->

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <a class="text-secondary" href="submitAccomplish.html"><h1 class="h2">Submit New Accomplishment</h1></a>
    </div>

    <!-- ================== Form ======================-->

    <h2 class="text-center">Online or Digital Media</h2><br>
    <div class="container">
        <div class="row">
            <form class="ml-5" asp-action="#" asp-controller="#">
                <div class="form-group">
                    <label for="employer">Provider: </label>
                    <input type="text" class="form-control" name="employer" id="employer" placeholder="Team Treehouse">
                </div>
                <div class="form-group">
                    <label for="jobTitle">Title: </label>
                    <input type="text" class="form-control" name="jobTitle" id="jobTitle" placeholder="ASP.net User Authentication">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="5" name="description" id="description" placeholder="Describe the content of the course."></textarea>
                    <p class="float-right"><i>400 character limit</i></p>
                </div>

                <label>Start Date: </label>
                <div class="datepicker input-group date" data-date-format="mm-dd-yyyy">
                    <input class="form-control" type="text" readonly />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>

                <label>End Date: </label>
                <div class="datepicker input-group date" data-date-format="mm-dd-yyyy">
                    <input class="form-control" type="text" readonly />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div class="form-group">
                    <label for="url">URL: </label>
                    <input type="text" class="form-control" name="url" id="url">
                </div>

                <input type="submit" class="btn btn-primary" value="Submit"><br>
                <br>
            </form>

        </div><br>
    </div>
    
</main>
