<!-- ======================= Main Work Area ================================-->

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <a class="text-secondary" href="submitAccomplish.html"><h1 class="h2">Account Settings</h1></a>
    </div>

    <!-- ================== Form ======================-->

    <h2 class="text-center">My Info</h2><br>
    <div class="container">
        <div class="row">
            <form class="ml-5" asp-action="#" asp-controller="#">
                <div class="form-group">
                    <label for="school">Employee ID: </label>
                    <input type="text" class="form-control" name="EmployeeID" id="EmployeeID" placeholder="2018467">
                </div>
                <div class="form-group">
                    <label for="activity">First Name: </label>
                    <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="John">
                </div>
                <div class="form-group">
                    <label for="activity">Last Name: </label>
                    <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Doe">
                </div>

                <div class="form-group">
                    <label for="activity">Email: </label>
                    <input type="text" class="form-control" name="Email" id="Email" placeholder="johndoe123@company.com">
                </div>

                <div class="form-group">
                    <label for="activity">Phone: </label>
                    <input type="text" class="form-control" name="Phone" id="phone" placeholder="555-555-555">
                </div>

                <div class="form-group">
                    <label for="url"> Password: </label>
                    <input type="text" class="form-control" name="password" id="password">
                </div>

                <div class="form-group">
                    <label for="contact">Supervisor ID: </label>
                    <input type="text" class="form-control" name="SupervisorID" id="SupervisorID">
                </div>


                <br>
                <button type="submit" class="btn btn-primary">Save Changes</button><br>
                <br>
            </form>

        </div><br>
    </div>
</main>
 