
@{
    ViewData["Title"] = "ProfileUpdated";
}



<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <a class="text-secondary" href="submitAccomplish.html"><h1 class="h2">Account Settings</h1></a>
    </div>

    <h1> Your profile was updated successfully!</h1>

</main>