body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * ========================== Sidebar ============================
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: rgba(83, 124, 144, 0.17) !important;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: rgb(83, 124, 144);
    height: 100%;
}

#sidenav {
    background-color: rgb(83, 124, 144);
}


/*
 ==============================* Navbar ==============================
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

a:hover {
    text-decoration: none;
}

/*======================= Accomplishment =====================*/
#accomplishments .col-sm-5:hover {
    cursor: pointer;
}

/*====================== Date picker ========================*/
.datepicker {
    width: 250px;
    margin-bottom: 20px;
}

    .datepicker > span:hover {
        cursor: pointer;
    }

form {
    width: 80%;
}

    form .btn {
        width: 250px;
    }
/*
 *  ========================= Utilities ==============================
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}


@media print {
    .sidebar {
        display: none !important;
    }

    nav {
        display: none !important;
    }

    #resume {
        float: left !important;
    }

    main h1, h2 {
        display: none !important;
    }

    #resume {
        float: left !important;
        width: 100% !important;
    }

    .col-lg-10 {
        width: 100% !important;
        float: left !important;
    }
}
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}
