@model List<Accomplishment>
<!-- ======================= Main Work Area ================================-->

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Supervisor</h1>
    </div>

    <br>
    <br>
    <!-- ======================= Using foreach loops to generate table for approval request, insert asp-action in buttons  ================-->
    <h3>Approvals Required</h3><br />
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Achievement Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var a in Model)
                {
                    <tr>
                        <td>@a.User.Fname</td>
                        <td>@a.User.Lname</td> 
                        <td>@a.AchievementType</td> 
                        <td> <a asp-action="ApprovalView" class="btn btn-info float-right" asp-route-id="@a.AchievementID">View Details</a></td>
                    </tr>
                }
            </tbody>

        </table>
</div>

</main>