
 <!-- ======================= Main Work Area ================================-->

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">My Accomplishments</h1>
    </div>
    <div class="row">
        <form  asp-action="EmployeeReportResult">
            <div class="form-group">
                <label for="asset" class="control-label col-sm-2"><b>My Employees:</b></label>
                <div class="col-sm-10">
                    <select  asp-items="ViewBag.MyUsers"  class="form-control"></select>
                </div>
            </div>
            <br>
            <input type="submit" class="btn btn-info ml-3" value="View Report"><br>
        </form>
    </div>
    <br>
    <br>
    
    <h3 class="">Select Employee to View Report</h3>
   

</main>